
.row{
    height: 100%;
    width: 100%;    
}
.container{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}
.td{
    text-align: center;
}
.nav_{
    display: inline-flex;
    width: 100%;
}
.h3{
    width: 69%;
    height: 1cm;
}
.sear{
    width: 30%;
}
input[type=text]{
    width: 100%;
    height: 1cm;
    margin-bottom: 5mm;
    
}
