:root {
    --margin-first-page: 2em;
    --margin-last-page: 2em;
    --page-width: 21.59cm;
    --page-height: 27.94cm;
    --page-color: #FFFFFF;
    --page-inner-width: calc(100% - 7mm - 7mm);
    --page-inner-height: calc(100% - 1cm - 1cm);
    --page-inner-margin: 7mm;
    --page-inner-top: 1cm;
    --font: 'Open Sans', sans-serif;
    --font-size: 0.9em;
    --background: #fafafa;
    --text-color: #494b4e;
    --logo-width: 3.5cm;
    --input-text-color: #494b4e;
    --head-color: #4369aa;
  }
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit; 
  }
  html { box-sizing: border-box; }
  body {
    font-family: var(--font);
    background-color: var(--background);
    font-size: var(--font-size);
    color: var(--text-color);
  }
  @page {margin: 0;padding: 0;}
  .page {
    position: relative;
    width: var(--page-width);
    min-width: var(--page-width);
    height: var(--page-height);
    min-height: var(--page-height);
    background: var(--page-color);
    margin: 0 auto;
    box-shadow: 1px 5px 15px #707070;
  }
  .page:first-of-type { margin-top: var(--margin-first-page); }
  .page:last-of-type { margin-bottom: var(--margin-last-page); }
  .page > .inner {
    position: relative;
    width: var(--page-inner-width);
    height: var(--page-inner-height);
    margin: 0 var(--page-inner-margin);
    top: var(--page-inner-top);
    overflow: hidden; 
  }
  @media print{
  :root {
      --margin-first-page: 2em;
      --margin-last-page: 2em;
      --page-width: 21.59cm;
      --page-height: 27.94cm;
      --page-color: #FFFFFF;
      --page-inner-width: calc(100% - 7mm - 7mm);
      --page-inner-height: calc(100% - 1cm - 1cm);
      --page-inner-margin: 7mm;
      --page-inner-top: 1cm;
      --font: 'Open Sans', sans-serif;
      --font-size: 0.9em;
      --background: #fafafa;
      --text-color: #494b4e;
      --logo-width: 3.5cm;
      --input-text-color: #494b4e;
      /*--primary-color: #BCDB68;*/
      --border-color: #8d8d8d;
      --head-color: #4369aa;
    }
    .no-print { display: none !important; }
    nav {
      display: none;
      background-color: red;
      height: 0;
    }
    .nav-bar {
      display: none;
      background-color: red;
      height: 0;
    }
    .td {
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
    }
    * {
      -webkit-print-color-adjust: exact;
    }
    .page { 
      box-shadow: none; 
    }
    .page:first-of-type { margin-top: 0 !important; }
    .page:last-of-type { margin-bottom: 0 !important; }
  }




  .header{
    display: flex;
    position: relative;
   /* margin-bottom: 2mm;*/
}

.header img{
   /* width: 12cm;*/
   height: 1.9cm;
   padding-right: 0;
}

.header .head_order{
  text-align: center;
  width: 5.8cm;
  margin-left: 4mm;
}
input[type="text"],
input[type="number"]{
    width: 95%;
    text-align: center;
    border: none;
    margin-left: 1mm;
    margin-right: 1mm;
    color: var(--text-color);
}
input[type=radio] {
  border: 1px solid var(--head-color);
 /* padding: 0.5em;*/
 padding: 0.4em;
  -webkit-appearance: none;
  margin-left: 4mm;
  margin-top: 1mm;
}
input[type=radio]:checked {
  background: var(--head-color);
 /* background-size: 6px 8px;**/
}

input[type=radio]:focus {
  outline-color: transparent;
}

.table{
    display: table;
    width: 100%;
    border: 1px solid var(--head-color);
    border-radius: 6px;
}
.tr.thead .td{
    padding: 5px 0;
    background: var(--head-color);
    color: white;
    font-weight: 400;
    /*font-size: 0.9em;*/
}
.tr {
    display: table-row;
    height: 6.3mm;
    /*font-size: .9em;*/
  }
  .tr.thead {
    display: table-header-group;
    height: 6.3mm;
    text-align: center;
  }
  .tr.row_tr{
      display: flex;
      position: relative;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid var(--head-color);
    border-right: 1px solid var(--head-color);
    
  }
  .td p{
    font-size: 0.86em;
    margin-left: 2mm;
    font-weight: 700;
  }
   .b_b{
    border-bottom:0;
  }
   .b_r{
    border-right: 0;
  }
  .b_b_r{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .b_t_r{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .line{
    display: flex;
    position: relative;
    font-size: 0.85em;
    font-weight: 700;
    margin-left: 2mm;
  }
  .line input{
    width: 80%;
    margin-left: 2mm;
  }
  .section2 .tr.thead .td:nth-child(1),
  .section2 .tr.thead .td:nth-child(2),
  .section2 .tr.thead .td:nth-child(3),
  .section2 .tr.thead .td:nth-child(4),
  .section2 .tr.thead .td:nth-child(5){
    width: 20%;
    border-right: 0;
  }
  #featur{
      position: relative;
      display: flex;
      margin-top: 3mm;
  }
  #featur_{
    display: block;
    width: 100%;
  }
  #featu_{
    display: block;
    width: 100%;
  }
  #info{
    margin-top: 2mm;
  }
  #doc{
    margin-top: 3mm;
    margin-bottom: 3mm;
    height: 1cm;
    font-size: 0.9em;
    text-align: center;
  }
  #doc input{
    margin-left: 1mm;
    margin-top: 1.5mm;
  }
  #docum{
    background: var(--head-color);
    color: white;
  }
  #sub_title{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2mm;
  }
  .gauge_{
    margin-top: 6mm;
    margin-left: 2cm;
    width: 200px;
  }
  .sign{
    align-content: center;
    margin-left: 2cm;    
    width: 250px;
  }
  .section3{
      width: 100%;
      /*width: 13cm;*/
      margin-right: 1.5mm;
  }
  .section3 .tr,
  .section4 .tr,
  .section5 .tr{
    height: 5.7mm;
  }
  .section4,.section5{
    width: 99%;
    margin-left: 1.5mm;
  }
  .section4{
    padding-bottom: 3mm;
  }
  .section3 .tr.thead .td:nth-child(1){
    width: 3.5cm;
  }
  .section3 .tr.thead .td:nth-child(2),
  .section3 .tr.thead .td:nth-child(3){
    width: 1.2cm;
  }
  .section3 .tr.thead .td:nth-child(4){
    width: calc(100% - 5.9cm);
    border-right: 0;
  }
  .section4 .tr.thead .td:nth-child(1),
  .section5 .tr.thead .td:nth-child(1){
    width: 3.5cm;
  }
  .section4 .tr.thead .td:nth-child(2),
  .section4 .tr.thead .td:nth-child(3),
  .section5 .tr.thead .td:nth-child(2),
  .section5 .tr.thead .td:nth-child(3){
    width: 1.2cm;
  }
  .section4 .tr.thead .td:nth-child(4),
  .section5 .tr.thead .td:nth-child(4){
    width: calc(100% - 5.9cm);
    border-right: 0;
  }

  .section6 .td:nth-child(1),
  .section6 .td:nth-child(2){
    width: 50%;
    text-align: center;
  }

  span{
    font-size: 0.72em;
  }

  #slider {
    cursor: pointer;
    margin: auto;
    right: 0;
    bottom: 20%;
    width: 100%;
}

.image-container input {opacity: 0;}
.image-container {
 /* background-position: center 3mm; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%;
  /*border-radius: 50%;*/
  border: 1px solid #fff;
}
.image-container img{
  height: 5cm;
  max-width: 100%;
}
#txa {
  background: none;
  border: none;
  resize: none;
  overflow: hidden;
  /*margin-left: 3mm;*/
  font-size: 0.8rem;
  font-weight: 400;
  font-family: var(--font);
  color: var(--text-color);
}
#printBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}

#printBtn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=file] {
  width: 8cm;
  height: 5.5cm;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0 0 0 1px #f6f6f6;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 2px #B2B2B2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F6F6F6;

}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  background: #F6F6F6;
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 2px #B2B2B2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #fff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #F6F6F6;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: #F6F6F6;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  height: 30px;
  width: 30px;
  top: 5px;
  position: relative;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 2px #B2B2B2;
}

input[type=range]:focus::-ms-fill-lower {
  background: #F6F6F6;
}

input[type=range]:focus::-ms-fill-upper {
  background: #F6F6F6;
}

.menu {
  height: 60px;
  display: flex;
  box-shadow: 0 1px 30px rgba(150, 150, 150, .8);
  min-width: 21.59cm;
}
.brand-logo {
  height: 100%;
  display: flex;
  align-items: center;
  width: 200px;
}
.brand-logo .logo {height: 100%;}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu-items {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  align-items: center;
  height: 100%;
}
.menu-items li {
  list-style-type: none;
  margin-right: 2rem;
}
.menu-items li a {
  text-decoration: none;
  padding: 10px;
}
.menu-items li a:link,
.menu-items li a:visited {
  color: #7c7c80;
  font-size: .85rem;
  font-weight: regular;
}
.menu-items li a.nav-save-btn {
  background-color: #a4bd39;
  color: #fff;
  padding: 10px 32px;
  border-radius: 10px;
}
.svg-logo {
  width: 100%;
  height: 100%;
}
text {
  font-family: var(--font);
  font-weight: regular;
  font-size: 35px;
  fill: #7c7c80;
}
tspan {
  fill: #a4bd39;
}